<h1>them lop</h1>

<form action="/add" method="POST">
    name: <input type="text" name="name"> <br>
    numberstudent: <input type="number" name="numberstudent"> <br>
    <button type="submit">them lop</button>
</form>