<h1>sua lop</h1>

<form action="/update" method="POST">
    ID: <input type="text" name="id" value="<%= lop.id %>"> <br>
    name: <input type="text" name="name" value="<%= lop.name %>"> <br>
    numberStudent: <input type="number" name="numberstudent" value="<%= lop.numberStudent %>"> <br>
    <button type="submit">them lop</button>
</form>